nav,
.pages,
.socials {
  display: flex;
}

nav {
  border-bottom: 1px solid $light-gray;

  & > * {
    margin: 1.5rem 2vw 1.25rem 2vw;
  }

  .logo {
    margin-top: 1.3rem;
    border-bottom: 2px solid;
  }
}

.pages {
  li {
    margin: 0 1.5vw 0 1.5vw;
  }
}

.socials {
  margin-left: auto;

  li {
    margin: 0 1vw 0 1vw;
  }
}
